js/package-lock.json
*.egg-info/
.ipynb_checkpoints/
dist/
build/
*.py[cod]
node_modules/
docs/site/
docs/_build
docs/examples/*.ipynb
.coverage
htmlcov/

# Compiled javascript
jupyter_rfb/nbextension/
jupyter_rfb/labextension/
js/yarn.lock

# OS X
.DS_Store
