name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]


jobs:

  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.9
      - name: Install dependencies
        shell: bash
        run: |
            python -m pip install --upgrade pip
            pip install black flake8 flake8-docstrings flake8-bugbear flake8-debugger
      - name: Black
        shell: bash
        run: black --check .
      - name: Flake
        shell: bash
        run: flake8 .

  build:
    name: ${{ matrix.name }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          # Python versions
          - name: Linux py39
            os: ubuntu-latest
            pyversion: '3.9'
          - name: Linux py310
            os: ubuntu-latest
            pyversion: '3.10'
          - name: Linux py311
            os: ubuntu-latest
            pyversion: '3.11'
          - name: Linux py312
            os: ubuntu-latest
            pyversion: '3.12'
          # Other systems / interpreters
          - name: Linux pypy3
            os: ubuntu-latest
            pyversion: 'pypy3.10'
          - name: Windows py311
            os: windows-latest
            pyversion: '3.11'
          - name: MacOS py311
            os: macos-latest
            pyversion: '3.11'

    steps:

      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.pyversion }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.pyversion }}
      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version: 18
      - name: Install dependencies
        shell: bash
        run: |
            python -m pip install --upgrade pip
            pip install -U jupyter_packaging pytest simplejpeg pillow
            pip install .
            rm -rf ./jupyter_rfb ./build ./egg-info
      - name: Test with pytest
        shell: bash
        run: |
            python -c "import sys; print(sys.version, '\n', sys.prefix)";
            pytest -v .
